<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<form method="POST" th:action="@{/review/create}" th:object="${review}">
    <input type="hidden" th:field="*{id}">
    <div th:if="${#fields.hasErrors('text')}" th:errors="*{text}"></div>
    <label for="text">text: </label>
    <input id="text" type="text" th:field="*{text}">
    <label for="isRecommended">is recommended: </label>
    <input id="isRecommended" type="text" th:field="*{isRecommended}">
    <input type="submit"  value="update">
</form>
<a th:href="@{/review/delete/{id}(id=${review.getId()})}">delete</a>
<a th:href="@{/profile/my_profile}">back to profile</a>
</body>
</html>