<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div th:if="${errorMessage != null}" th:text="${errorMessage}"></div>
<form method="post" th:action="@{/login}" >
    <label for="username">username :</label>
    <input id="username" type="text" name="username">
    <label for="password">password :</label>
    <input id="password" type="text" name="password">
    <label for="remember-me">Remember me</label>
    <input id="remember-me" type="checkbox" name="remember-me" />
    <input type="submit" value="login">
</form>
<a th:href="@{/register}">registration</a>
</body>
</html>