<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create product</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div th:insert="~{navbar/navbar :: navbar}"></div>
<div  class="container">
    <div class="wrapper row justify-content-center align-items-center">
        <div class="col-md-6">
<form method="POST" th:action="@{/show/create}" th:object="${product}" enctype="multipart/form-data">
    <div class="form-group">
        <label for="name">Name</label>
        <input  class="form-control" id="name" th:field="*{name}" placeholder="Enter name">
    </div>
    <div class="form-group">
        <label for="type">Type</label>
        <select id="type" name="type">
            <option th:each="type : ${T(com.example.kinopoisk.model.entities.show.ShowType).values()}"
                    th:value="${type}" th:text="${type}"></option>
        </select>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <input  class="form-control" id="description" th:field="*{description}" placeholder="Enter description">
    </div>
    <div class="form-group">
        <label for="pictures">Pictures</label>
        <input type="file"  class="form-control-file" id="pictures" name="pictures" accept="image/png, image/jpeg" multiple>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
        </div>
    </div>
</div>
</body>
</html>