<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create show</title>
</head>
<body>
<form method="POST" th:action="@{/show/create}" th:object="${show}" enctype="multipart/form-data">
    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    <label for="name">name: </label>
    <input id="name" type="text" th:field="*{name}">
    <div th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></div>
    <label for="type">type: </label>
    <select id="type" name="type">
        <option th:each="type : ${T(com.example.kinopoisk.model.entities.show.ShowType).values()}"
                th:value="${type}" th:text="${type}"></option>
    </select>
    <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
    <label for="description">description: </label>
    <input id="description" type="text" th:field="*{description}">
    <input type="file" name="pictures" accept="image/png, image/jpeg" multiple/>
    <input type="submit"  value="create">
</form>
<a th:href="@{/profile/my_profile}">back to profile</a>
</body>
</html>