<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<p th:text="${'name: '+show.getName()}"></p>
<p th:text="${'type: '+show.getType()}"></p>
<p th:text="${'description: '+show.getDescription()}"></p>
<p th:text="${'rating: '+show.getAverageRating()}"></p>
<p>pictures:</p>
<div th:each="imageName : ${show.getImagesNames()}">
    <img th:src="${'/images/'+imageName}"  alt="no image"/>
</div>
<form method="POST" th:action="@{/show/{showId}/set_rating(showId=${show.getId()})}" th:object="${rating}">
    <label for="rating">my rating:</label>
    <input id="rating" min="0" max="10" type="number" th:field="*{rating}">
    <input type="submit" value="submit">
</form>
<p>------------------------------------</p>
<p>Reviews: </p>
<div th:each="review : ${reviews}">
    <div th:insert="~{review/reviewInfo :: info}"></div>
</div>
<form method="POST" th:action="@{/review/create/{showId}(showId=${show.getId()})}" th:object="${review}">
    <div th:if="${#fields.hasErrors('text')}" th:errors="*{text}"></div>
    <label for="text">text: </label>
    <input id="text" type="text" th:field="*{text}">
    <label for="isRecommended">is recommended: </label>
    <input id="isRecommended" type="checkbox" th:field="*{isShowRecommended}">
    <input type="submit"  value="create">
</form>
</body>
</html>