<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link th:href="@{/styles/product.css}" rel="stylesheet"/>
</head>
<body>
<div th:insert="~{navbar/navbar :: navbar}"></div>
<div class="container">
    <div class="card">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-6">
                    <div class="preview-pic tab-content">
                        <div th:each="imageName,iter : ${product.getImagesNames()}">
                            <div th:class="${iter.index == 0?'tab-pane active':'tab-pane'}"><img
                                    th:src="${'/images/'+imageName}" alt="no image"/></div>
                        </div>
                    </div>
                </div>
                <div class="details col-md-6">
                    <h3 class="product-title" th:text="${'name: '+product.getName()}"></h3>
                    <div class="rating">
                        <span class="review-no" th:text="${'rating: '+product.getAverageRating()}"></span>
                    </div>
                    <p class="product-description" th:text="${'type: '+product.getType()}"></p>
                    <p class="product-description" th:text="${'description: '+product.getDescription()}"></p>
                    <div class="action">
                        <form method="POST" th:action="@{/show/{showId}/set_rating(showId=${product.getId()})}"
                              th:object="${rating}">
                            <div class="form-group">
                                <label for="rating">Rating</label>
                                <input class="form-control" id="rating" min="0" max="10" type="number"
                                       th:field="*{rating}">
                            </div>
                            <button type="submit" class="btn btn-primary">Rate</button>
                        </form>
                        <div th:insert="~{review/create :: create}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="card">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="details col-md-12 justify-content-center">
                    <h4 class="product-title">Reviews</h4>
                    <div th:each="review : ${reviews}">
                        <div th:insert="~{review/reviewInfo :: info}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>